.breadcrumb {
  --bs-breadcrumb-padding-x: 1rem;
  --bs-breadcrumb-padding-y: 0.75rem;
}

h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
#multi-step-form-container {
  margin-top: 5rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0;
}
.button {
  padding: 0.7rem 1.5rem;
  border: 1px solid #4361ee;
  background-color: #4361ee;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn {
  border: 1px solid #0e9594;
  background-color: #0e9594;
}
.mt-3 {
  margin-top: 2rem;
}
.d-none {
  display: none;
}
.form-step {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 3rem;
}
.font-normal {
  font-weight: normal;
}
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 0rem;
}
ul.form-stepper .form-stepper-circle {
  position: relative;
}
ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
  // position: absolute;
  // -webkit-box-flex: 1;
  // width: 77%;
  // right: -25%;
  // -ms-flex: 1;
  // flex: 3;
  // height: 4px;
  // content: '';
  // top: 20%;
  // border-radius: 50px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  content: '';
  top: 49%;
  border-radius: 50px;
}
.form-stepper-horizontal li:after {
  background-color: #dee2e6;
}
.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #0e9594;
}
.form-stepper-horizontal li:last-child {
  flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
  background-color: #4361ee !important;
  color: #fff;
}
.form-stepper .form-stepper-active .label {
  color: #4361ee !important;
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
  background-color: #4361ee !important;
  color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #0e9594 !important;
  color: #fff;
}
.form-stepper .form-stepper-completed .label {
  color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
  background-color: #0e9594 !important;
  color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}
.form-stepper .label {
  font-size: 1rem;
  margin-top: 0rem;
}
.form-stepper a {
  cursor: default;
  z-index: 1;
}

// ********** css Data Table **********
.MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}
.MuiDataGrid-cell,
.MuiDataGrid-columnHeaderTitle {
  font-family: 'Sarabun', sans-serif !important;
}
.MuiDataGrid-columnHeaderTitle {
  line-height: 2 !important;
}
.MuiFormControl-root .MuiInputBase-input {
  padding: 10px 20px !important;
}
.MuiDataGrid-cell .btn-group-sm > .btn,
.btn-sm {
  display: flex;
  align-items: center;
  padding: 10px 12px !important;
}
nav.pcoded-navbar .pcoded-inner-navbar li.pcoded-hasmenu .pcoded-submenu li > a {
  padding: 7px 7px 7px 32px;
}

.css-hlgwow {
  padding: 4.7px 8px !important;
}
.css-13cymwt-control {
  background: #f4f7fa !important;
}
.MuiButtonBase-root {
  font-family: 'Sarabun', sans-serif !important;
  font-weight: normal;
}
.MuiStepLabel-label {
  font-family: 'Sarabun', sans-serif !important;
}
/* Custom styles for MUI Stepper */
.MuiStepper-root {
  padding: 20px 0;
}

/* Horizontal Stepper (Desktop) */
.MuiStepper-horizontal {
  width: 100%;
  margin: 0 auto;
}

.MuiStepLabel-label {
  font-size: 0.9rem;
}

// .MuiStepConnector-root.MuiStepConnector-horizontal {
//   top: 10px;
// }

.MuiStepConnector-line.MuiStepConnector-lineHorizontal {
  border-color: #dee2e6;
  // border-top-width: 4px;
  border-radius: 10px;
}

.MuiStepConnector-active.MuiStepConnector-horizontal .MuiStepConnector-lineHorizontal,
.MuiStepConnector-completed.MuiStepConnector-horizontal .MuiStepConnector-lineHorizontal {
  border-color: #0e9594;
}

.MuiStepIcon-root {
  color: #f8f7ff;
  font-size: 18px;
}

.MuiStepIcon-active {
  color: #0e9594;
}

.MuiStepIcon-completed {
  color: #0e9594;
}

.MuiStepLabel-label.Mui-active {
  color: #0e9594;
}

.Mui-active .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
  border-color: #0e9594;
}

span > .Mui-completed {
  color: #0e9594 !important;
}
.Mui-completed .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
  border-color: #0e9594;
}

/* Vertical Stepper (Mobile) */
.MuiStepper-vertical {
  width: 100%;
}

.MuiStepConnector-line.MuiStepConnector-lineVertical {
  border-left-width: 4px;
  border-color: #dee2e6;
  min-height: 24px;
}

.MuiStepConnector-active.MuiStepConnector-vertical .MuiStepConnector-lineVertical,
.MuiStepConnector-completed.MuiStepConnector-vertical .MuiStepConnector-lineVertical {
  border-color: #0e9594;
}
.MuiBox-root {
  padding: 0 !important;
}

.MuiStepLabel-iconContainer {
  padding-right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .MuiStepper-horizontal {
    display: none;
  }

  .MuiStepper-vertical {
    display: flex;
    padding: 0 !important;
  }
  .card-body .mb-2.p-3.pt-0.pb-0.col-md-12 {
    padding: 0 !important;
  }
}

@media (min-width: 769px) {
  .MuiStepper-vertical {
    display: none;
  }

  .MuiStepper-horizontal {
    display: flex;
  }
}
